body {
    background-image: url("/static/img/background.png");
}

.card {
    border: none;
    margin: 0px;
    background-image: url("/static/img/background.png");
}

.card .recipe-image {
    min-height: 200px;
}

a {
    color: #9a1f24;
    text-decoration: none;
}
a:visited {
    color: #5a1215;
}
a:hover {
    color: #111;
    text-decoration: underline;
}

.cell {
    background-image: url("/static/img/background.png");

}
.cell:hover {
    z-index: 1000;
}
.top-bar{
    border-top: 5px solid #9a1f24;
    background-image: url("/static/img/background.png");
}

.single-recipe{
    height: 450px;
    margin-bottom: 3px;
}
.single-recipe:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin: -0.5rem;
}

.single-recipe:hover .card-section{
    padding: 1.5rem;
}


.animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
    width: 100%;
}
