body {
    background-image: url("/static/img/background.png");
}

.card {
    border: none;
    margin: 0px;
    background-image: url("/static/img/background.png");
}

.card .recipe-image {
    min-height: 200px;
}

a {
    color: #9a1f24;
    text-decoration: none;
}
a:visited {
    color: #5a1215;
}
a:hover {
    color: #111;
    text-decoration: underline;
}

.cell {
    background-image: url("/static/img/background.png");

}
.cell:hover {
    z-index: 1000;
}
.top-bar{
    border-top: 5px solid #9a1f24;
    background-image: url("/static/img/background.png");
}

.single-recipe{
    height: 450px;
    margin-bottom: 3px;
}
.single-recipe:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin: -0.5rem;
}

.single-recipe:hover .card-section{
    padding: 1.5rem;
}
