{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{% block title %}Instant Pot Recipes{% endblock title %}</title>
        {% block css %}
            <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
            <link rel="stylesheet" href="{% static 'css/vendor/foundation.css' %}">
            <link rel="stylesheet" href="{% static 'css/base/app.css' %}">
        {% endblock css %}
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <a href="{% url 'home' %}">
                    <img src={% static "img/logo.png" %}>
                </a>
            </div>
            <div class="top-bar-right">
                <form action="{% url 'search' %}">
                <ul class="menu">
                    <li><input type="search" name="q" placeholder="Search.." class="animated-search-form"></li>
                    <li><button type="submit" type="button" class="button">Search</button></li>
                </ul>
                </form>
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        {% block javascript %}
            <script src="{% static 'js/vendor/jquery.js' %}"></script>
            <script src="{% static 'js/vendor/what-input.js' %}"></script>
            <script src="{% static 'js/vendor/foundation.js' %}"></script>
            <script>
             $(document).foundation();
            </script>
        {% endblock javascript %}
    </body>
    <footer>
        steamer by  Laymik from the Noun Project
    </footer>
</html>
