{% load static %}

<html>
    <head>
        <title>{% block title %}Instant Pot Recipes{% endblock title %}</title>
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        {% endblock css %}
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Site Title</li>
                    <li>
                        <a href="#">One</a>
                        <ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="Search"></li>
                    <li><button type="button" class="button">Search</button></li>
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock content %}

        {% block javascript %}
            <script src="{% static 'jquery.min.js' %}"></script>
            <script src="{% static 'js/foundation.js' %}"></script>
            <script>
             $(document).foundation();
            </script>
        {% endblock javascript %}
    </body>
</html>
